.navBar{
  border-style: outset;
  background-color: #eeeeee;
  overflow: auto;
  width: 100%;
  padding-bottom: .5em;
}

.navBar > *{
  display: inline-block;
}

.webTitle{
  height: 62px;

  font-size: 54px;
  font-weight: bold;

  margin-bottom: 0px;
  margin-top: 0px;

  padding-right: 5px;
  border-bottom-style: solid;
  border-right-style: solid;
}

.buttons{
  float: right;
  margin-right: .5em;
}

.buttons > a > button{
  height: 62px;
  width: 179px;
  font-size: 25px;


  border-style: outset;
  border-radius: 12px;
  margin: top 0px bottom 5px;
  padding: 0px;
}

.navLink{
  color: black;
  text-decoration: none;
}

.sideBar{
  position: fixed;
  width: 25%;
  border-style: solid;
  border-radius: 12px;
  text-align: center;
  background-color: #f5e8fc;
}

.sideBarList{
  list-style-type: none;
  indent: 0;
  padding-inline-start: 0;
}

.sideLink{
  color: #77dd77;
}

.mainBody{
  border-style: solid;
  margin-left: 25.9%;
  border-radius: 12px;
  background-color: #f5e8fc;
}

.mainBody > *{
  margin-left: 10px;
  margin-right: 10px;
}

.bodyLink{
  color: #77dd77;
}

.mainBody > p{
  text-indent: 1.5em;
}

body{
  background-color: #edd8fa;
  margin: 0;
}

html{
  margin: 0;
  padding: 0;
}
